In [1]:
import pandas as pd

In [9]:
data=pd.read_excel(r"C:\Users\Hany\Downloads\car-sales-extended.xlsx")
data

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [10]:
data.index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
data.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [12]:
data.shape

(1000, 5)

In [14]:
f=data.describe()

In [15]:
data.shape

(1000, 5)

In [21]:
inf=data.info

In [24]:
mean=data.mean()

C:\Users\Hany\AppData\Local\Temp\ipykernel_10864\125936707.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean=data.mean()

In [30]:
data["Doors"].sum()

4014

In [42]:
data1=data[data["Make"]=="BMW"]
data1

    Make Colour  Odometer (KM)  Doors  Price
1    BMW   Blue         192714      5  19943
17   BMW  White         194189      5  17177
55   BMW  White          79937      5  48686
57   BMW    Red         162176      5  19186
60   BMW    Red         208124      5  24668
..   ...    ...            ...    ...    ...
967  BMW  Green          26839      5  15224
969  BMW   Blue          45207      5  35254
971  BMW  Black         178164      3  24891
978  BMW  White          85739      5  48419
994  BMW   Blue         163322      3  31666

[100 rows x 5 columns]

In [44]:
data1.sum()

Make             BMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWBMWB...
Colour           BlueWhiteWhiteRedRedWhiteWhiteWhiteRedBlueWhit...
Odometer (KM)                                             12354080
Doors                                                          458
Price                                                      2708983
dtype: object